div.home-poster{
  width: 100%;
  background-color: rgba(249,245,255, 0.7);
  line-height: 1;
  vertical-align:top;
}
.home-poster img{
  display: block;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

div.home-content-0{
  height: auto;
}

div.home-content-0 p{
  /* text-align: left; */
  font-size: 110%;
  padding: 5px;
}

p.red{
  color: red;
  font-size: 110%;
}

.home a{
  color: black;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.home a:hover{
  color: #28262C;
  text-decoration-style: solid;
}


.home-content-0 h1{
  display:inline;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

div.map-content{
  position:relative;
  background-color: rgba(249,245,255, 0.8);
  width: 90%;
}

.map-text{
  width: 45%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
}

.map-image{
  width: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 1;
  vertical-align:middle;
}
.map-image img{
  display: block;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.sbs {
  margin: 0px auto;
  text-align: center;
}

.sbs div.sbss{
  /* text-align: left; */
  display: inline-block;
  vertical-align: top;
  width: 45%;
  /* padding: 5px; */
}

.sbss{
  font-size: 80%;
}

#map {
  z-index: 0;
}
