#menu-0-option1, #menu-1-option1 {
  color :#4D1F00;
}

div.content-1-content {
    /* margin: 0 auto;
    padding: 0; */
    width: 100%;
    height: auto;
    text-align: center;
    /* border: 1px solid yellow; */
}

.content-1-content div{
  display: inline-block;
  vertical-align: top;
}

.content-1-content h4 {
    display: block;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

a.sign_up{
  text-decoration-color: gray;
  text-decoration-line: underline;
  text-decoration-style:dotted;
  font-size: 15px;
  text-align: center;
  color: inherit;
}

a.sign_up:hover{
  color: #4D1F00;
  text-decoration-color: #4D1F00;
  text-decoration-style:solid;
}

div.content-1-info{
  width: 70%;
  height: auto;
  /* border: 5px solid black; */
}

div.info {
  padding: 5px;
  text-align: center;
  width: 100%;
  height: auto;
  /* border: 5px solid white; */
}

div.summary {
  /* background-color: #748CAB; */
  /* border: 5px solid blue; */
  height: auto;
  width: 100%;
  background: rgba(116, 140, 171, 0.5);
  /* text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
}

div.summary h3{
  margin: 0;
}

div.logo {
  float: left;
  height: auto;
  width: auto;
  margin: auto;
  text-align: center;
	display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid black; */
}

div.logo img{
  /* text-align: center; */
  vertical-align:top;
}

div.summary-title {
  margin: 0 auto;
  float: right;
  vertical-align: middle;
  text-align: center;
  /* border-bottom: 2px dashed white; */
  /* border: 1px solid black; */
}

/* p.en-title{
  height: 100%;
} */

p.summary-text{
  float: left;
  text-align: left;
  width: auto;
  /* border: 1px solid black; */
  /* overflow: scroll; */
  font-size: 100%;
}

p.summary-text a {
  color: #2600a8;
}

p.summary-text a:hover {
  color: #20B2AA;
  text-decoration: underline;
}
