center {
  background-color: rgba(255,255,255,0.8);
  font-size: 130%;
  font-weight: normal;
  color: black;
  font-family: DFKai-sb, "Microsoft JhengHei";
}

center .show_content {
  width: 100%;
}

.com_title {
  width: 40%;
  height: 30%;
  padding-top: 20px;
  /* border: 1px solid black; */
}

.com_logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
}

.com_logo img{
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.com_name {
  width: 100%;
  height: 50%;
}

.com_name h2 {
  margin: 0 auto;
}

.com_content {
  width: 90%;
  /* border: 1px solid black; */
}

.com_content a:hover {
  color: #28262C;
}

.intro {
  width: 70%;
  text-align: left;
  margin-top: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #D7CDCC;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  /* border: 5px solid black; */
  border-radius: 10px;
}

.intro p{
  margin-left: 10px;
}

.intro h3{
  text-align: center;
}

.welfare {
    width: 70%;
    text-align: left;
    margin-top: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #D7CDCC;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    /* border: 5px solid black; */
    border-radius: 10px;
}

.welfare p{
  margin-left: 10px;
}

.welfare h3{
  text-align: center;
}

.welfare h4{
  padding-left: 2ch;
}

.welfare ol{
  list-style-position: inside;
  text-align: left;
  display: inline-block;
  padding-left: 4ch;
}

.job {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  /* border: 1px solid black; */
}

.job_table {
  width: 100%;
  /* border: 1px solid black; */
}

.job_table table{
  border-collapse: collapse;
}

.job_table table th,td {
  width: 10%;
  border: 1px solid black;
}

.col_2 {
  width: 50%;
}

td.col_2 {
  text-align: left;
}

.contact {
  width: 70%;
  text-align: left;
  margin-top: 20px;
}

.contact p {
  font-size: 90%;
  line-height: 130%;
  padding-left: 2ch;
}

.pdf {
  margin-top: 20px;
  width: 80%;
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width:1050px){
  .pdf {
    width: 90%;
  }
}
