
.backboard_img {
  /* border: 1px solid black; */
  height: auto;
  width: 80%;
  padding-bottom: 50px;
}

.backboard_img img {
  display: block;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

center {
  background-color: rgba(0,0,0,0.5);
}

.table_title {
  padding-bottom: 20px;
  font-size: 40px;
  color: #D7CDCC;
  /* border: 1px solid black; */
}

.company_logo {
  width: 90%;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  /* border: 1px solid black; */
}

.company_logo table {
  width: 100%;
  text-align: center;
}

.company_logo table td {
  width: 20%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.company_logo table td.songchuan_logo {
  background-color: rgb(13, 77, 114);
}

.company_logo table td.gallant_ocean_international_logo {
  background-color: rgb(94, 122, 37);
}

.company_logo td:hover {
  cursor: pointer;
}

.inner_div {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.img_div {
  width: 100%;
}

td img {
  width: 100%;
  display: block;
}

.company_logo table td.blank_logo {
  background-color: inherit;
  border: none;
  cursor: default;
}

.company_map {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}

.company_map img {
  width: 100%;
}

.iphone_activity{
  width: 90%;
  color: #D7CDCC;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  font-size: 120%;
  padding-left: 10px;
  padding-right: 10px;
}

.iphone_activity table{
  width: 100%;
  border-collapse: collapse;
}

.iphone_activity caption{
  padding-bottom: 10px;
}

.iphone_activity td{
  width: 50%;
}

.iphone_activity img {
  display: block;
  border-radius: 10px;
}

.iphone_activity .content_text,h3 {
  font-family: DFKai-sb, "Microsoft JhengHei";
}

.iphone_activity a {
  color: rgba(124, 198, 254, 1.0);
}

.iphone_activity a:hover{
  color: rgba(124, 198, 254, 0.7);
}

a.to_seminar{
  color: rgba(124, 198, 254, 1.0);
}

a.to_seminar:hover{
  color: rgba(124, 198, 254, 0.7);
}

.iphone_activity tr.lda th, tr.lda td{
  text-align: center;
}

.lda th {
  font-size: 120%;
}

.iphone_activity .bd th, .bd td{
  border: 1px solid;
  text-align: center;
}

.iphone_activity .blank_tr {
  height: 10px;
}

.iphone_activity .notice{
  font-family: DFKai-sb, "Microsoft JhengHei";
}

.iphone_activity .notice th{
  text-align: left;
  font-size: 120%;
}

.iphone_activity .precautions {
  font-family: DFKai-sb, "Microsoft JhengHei";
  font-size: 90%;
}

.iphone_activity .precautions p{
  line-height: 1.5;
}

img.JRF {
  width: 90%;
  margin: 0 auto;
}

.ts {
  color: red;
}

@media only screen and (min-width:1000px){
  .company_map{
    width: 50%;
  }
}

@media only screen and (max-width:500px) {
  .table_title{
    font-size: 120%;
  }
}

@media only screen and (max-width:470px) {
  caption h1 {
    font-size: 145%;
  }
}

@media only screen and (max-width:420px) {
  tbody {
    font-size: 85%;
  }
}

@media only screen and (max-width:380px) {
  tbody {
    font-size: 80%;
  }
}

@media only screen and (max-width:360px) {
  caption h1 {
    font-size: 130%;
  }
}

@media only screen and (max-width:340px) {
  tbody {
    font-size: 70%;
  }
}

@media only screen and (max-width:300px) {
  caption h1 {
    font-size: 110%;
  }
  tbody {
    font-size: 60%;
  }
}

@media only screen and (max-width:250px) {
  caption h1 {
    font-size: 100%;
  }
  tbody {
    font-size: 50%;
  }
}
