
.backboard_img {
  /* border: 1px solid black; */
  height: auto;
  width: 80%;
  padding-bottom: 50px;
}

.backboard_img img {
  display: block;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

center {
  background-color: rgba(0,0,0,0.5);
}

.table_title {
  padding-bottom: 20px;
  font-size: 40px;
  color: white;
  /* border: 1px solid black; */
}

.company_logo {
  width: 90%;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  /* border: 1px solid black; */
}

.company_logo table {
  width: 100%;
  text-align: center;
}

.company_logo table td {
  width: 20%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

td:hover {
  cursor: pointer;
}

.inner_div {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.img_div {
  width: 100%;
}

td img {
  width: 100%;
  display: block;
}
