@font-face {
    font-family: "HSC-c";
    src: url(../fonts/Hanyi_Senty_Candy-color.ttf);
}

@font-face {
    font-family: "SP";
    src: url(../fonts/SentyPea.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  position: absolute;
}

body {
  height: 100%;
  width: 100%;
  z-index: 2;
}

html.noscroll {
    position: fixed;
    overflow-x: unset;
    overflow-y: scroll;
    width: 100%;
}

.hide{
  display:none;
}
.show{
  display:block;
}

a {
  text-decoration: none;
}

body{
  background-image: url("../images/backboard_no_text.png");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom center;
  font-family: SP, SGB, "Microsoft JhengHei";
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

div.back{
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 100px;
}

header div.head_title{
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #D7CDCC;
  background-color: rgba(0, 0, 255, 0.7);
  font-size: 200%;
}

#title_nav_0{
  width: 40%;
  height: 100%;
  float: left;
  /* border: 1px solid black; */
}

.title_text {
  height: 100%;
  /* display: inline-block;
  border: 1px solid black; */
}


.head_title nav p{
  height: 90%;
  width: 100%;
  float: left;
  /* font-size: 130%; */
  vertical-align: center;
  left: 10px;
  top: 5px;
  position: relative;
}

.title_span {
  position: relative;
  left: 3ch;
}


.head_title nav#title_nav_1{
  width: 59%;
  height: 100%;
  float: right;
  /* border: 1px solid black; */
  position: relative;
}

.menu{
  height: 30%;
  width: 100%;
  /* border: 1px solid black; */
  position: absolute;
  bottom: 1px;
  margin: 0px auto;
  text-align: center;
  font-size: 70%;
}

.menu>div{
  width: 18%;
  height: 100%;
  /* font-size: 20px; */
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

div.menu_2 {
  width: 36%;
}

.menu a{
  /* display: inline-block; */
  color: #D7CDCC;
}

.menu a:hover{
  /* color: white; */
  text-shadow: -1px 1px 0 #FCA619,
                1px 1px 0 #FCA619,
                1px -1px 0 #FCA619,
               -1px -1px 0 #FCA619;
}

.menu ul{
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.menu li:hover {
  background-color: #28008E;
}
.menu ul li{
  background-color: rgba(0, 0, 255, 0.4);
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 5;
  /* border: 1px solid black; */
}

.menu_4{
  /* border: 1px solid black; */
  margin: 0px auto;
  text-align: center;
}

.menu_text{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  /* position: relative;
  bottom: 3px; */
}

.menu_4_text {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: auto;
  /* border: 1px solid black; */
  margin: 0px;
}

#title_nav_2{
  width: 30%;
  height: 100%;
  float: right;
  position: relative;
  align-self: center;
  display: none;
}

#title_nav_2 a {
  color: #601700;
}

.menu_flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.smallscreen_menu {
  display: inline-block;
  vertical-align: middle;
  /* border: 1px solid black; */
  width: 100%;
}

.menu_btn {
  text-align: center;
  float: right;
  height: 100%;
  font-size: 40px;
  margin-right: 40px;
  /* border: 1px solid black; */
}

.arrow{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  /* border: 1px solid black; */
  margin: 0px;
  margin-left: -9px;
}

.arrow_img_flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.arrow_img {
  width: 100%;
}

.menu_4_text img{
  /* width: 100%; */
  /* display: block; */
}

.arrow:hover{
  cursor: pointer;
}

.arrow img{
  width: 100%;
  display: block;
}

#phone_menu {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  border-top: 2px solid #FCA619;
  /* border: 1px solid black; */
  z-index: 10;
}

.phone_menu_flex {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2px;
}

.phone_menu_text_flex{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: 12%;
  display: flex;
  align-items: center;
}

.phone_menu_text_flex a {
  color: #D7CDCC;
  /* text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #D7CDCC; */
}

.phone_menu_text a:hover{
  /* color: white; */
  text-shadow: -1px 1px 0 #FCA619,
                1px 1px 0 #FCA619,
                1px -1px 0 #FCA619,
               -1px -1px 0 #FCA619;
}

.phone_menu_text{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  /* border: 1px solid black; */
  width: 100%;
}

center {
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

footer {
  vertical-align: middle;
  align-self: center;
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #000000;
  background-color: rgba(129, 129, 129, 0.7);
  font-family: SGB;
}

footer img{
  vertical-align: middle;
  max-width: 20px;
  padding-bottom: 0;
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

footer nav{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  float: right;
  position: absolute;
  right: 1px;
}

.organizer{
  /* border: 1px solid black; */
  height: 100%;
  overflow: hidden;
}

.bottom_flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.bottom {
  width: 100%;
  height: auto;
}


.organizer a {
  color: #000000;
}
.organizer a:hover {
  color: #28262C;
}

.alpha_num {
  font-family: SW-B;
}

@font-face {
  font-family: "SGB";
  src: url(../fonts/SentyGoldenBell.ttf);
}

@font-face {
  font-family: "SW-B";
  src: url(../fonts/StayWriter-Bold.otf);
}

@media only screen and (max-width: 810px){
  header {
    height: 14%;
    font-size: 90%;
  }
}

@media only screen and (max-width: 730px){
  header {
    height: 12%;
    font-size: 70%;
    min-height: 80px;
  }
}

@media only screen and (max-width: 580px){
  header {
    height: 10%;
    font-size: 60%;
    min-height: 70px;
  }
}

@media only screen and (max-width: 930px){
  .head_title {
    text-align: center;
    position: relative;
  }
  #title_nav_1{
    display: none;
  }
  #title_nav_2 {
    display: inline-block;
    position: absolute;
    /* border: 1px solid black; */
  }
  #title_nav_0{
    display: inline-block;
    float: none;
    /* border: 1px solid black; */
  }
}

@media only screen and (max-width: 500px){
  #title_nav_0{
    display: inline-block;
    float: left;
    width: 60%;
    /* border: 1px solid black; */
  }
}

@media only screen and (max-width: 490px){
  #title_nav_0{
    text-align: left;
  }
  .head_title nav p{
    left: 0px;
  }
}

@media only screen and (max-width: 335px){
  header {
    font-size: 50%;
  }
}

@media only screen and (max-width: 280px){
  header {
    font-size: 40%;
    min-height: 60px;
  }
  .head_title nav p{
    top: 20px;
  }
}

@media only screen and (max-width: 230px){
  header {
    font-size: 30%;
  }
}

@media only screen and (max-width: 990px){
  .menu{
    font-size: 45%;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1170px) {
  .menu{
    font-size: 50%;
  }
}

@media only screen and (min-width: 1170px) and (max-width: 1200px) {
  .menu{
    font-size: 60%;
  }
}

@media only screen and (max-width: 1170px) {
  .menu a{
    vertical-align: middle;
  }
}

/* @media (max-width: 400px) {
  body {
   font-size: calc(0.6rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  body {
   font-size: calc(0.6rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  body {
   font-size: calc(1rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}
@media (min-width: 1200px) {
  body {
     font-size: 1rem;
  }
} */

@media only screen and (max-width:960px){
  footer {
    align-items: flex-start;
    text-align: left;
  }
}
@media only screen and (max-width:550px){
  footer {
    align-items: center;
    text-align: center;
  }
  footer nav{
    display: inherit;
    float: none;
    position: static;
  }
  footer img {
    height: 25px;
    width: 25px;
  }
}
