.menu-0-content-2 {
  width: 100%;
  text-align: center;
}
div.content{
  text-align: center;
}

div.axis{
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #BFACAA;
  background-color: #FED766;
  width: 60%;
  height: 10px;
}
div.axis-align{
  width: 100%;
  height: 10px;
  position: relative;
}


div[class^=circle]{
  text-align: center;
  position: absolute;
  width:30px;
  height:30px;
  border-radius:99em;
  background-color:#696773;
  border: 2px solid #BFACAA;
  top: -12px;
  left: -1%;
}
@media (max-width:700px) {
  div[class^=circle]{
    height: 20px;
    width: 20px;
    top: -7px;
  }
}

.axis-align div.circle-1{
  left:47%;
}

.axis-align div.circle-2{
  left: 97%;
}

.poster-img{
  margin:0px auto;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  position: relative;
}

div.img-container {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  line-height: 1;
  vertical-align: bottom;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  position: absolute;
}

.poster-img img{
  display: block;
}

.img-container:hover{
  border: 2px solid #009FB7;
}
.container-0{
  left:0;
}

.container-1{
  left: 35%;
}
.container-2{
  left: 70%;
}

.lecture{
  margin: 0px auto;
  margin-top: 50px;
  text-align: center;
  width: 80%;
  background-color: rgba(249,245,255, 0.8);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.lecture-intro{
  position: relative;
  text-align: left;
}

div.lecture-intro p {
  font-family: SGB, DFKai-sb;
}
div.sign_up_lecture{
  width: auto;
  background-color: rgba(241,255,196,0.9);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
div.sign_up_lecture:hover{
  background-color: rgba(191,172,170,0.9);
}
a.sign_up{
  text-align: center;
  color: inherit;
}

a.sign_up:hover{
  color: #28262C;
}

span.alert{
  color: red;
}
